@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.upload {
  margin: 0 auto;
  padding: 2rem 3rem;
  position: relative;

  &-header {
    margin-bottom: 1.5rem;
  }

  &-form {
    // display: flex;
    // flex-direction: column;
    width: calc(100% - 75px);
    margin: auto;
  }
  &-title {
    margin-bottom: 1rem;
  }

  &-project {
    width: calc(100% - 30px);
    margin: auto;

    &__item {
      &-th {
        width: 25%;
        text-align: left;
        padding: 1rem 0;
        vertical-align: top;
      }
      &-td {
        padding: 1rem 0;
      }
    }
    &__label {
      //   width: 20%;
    }
    &__input {
      width: 100%;
      border: 0;
      font-size: 12px;
      background: #f2f2f2;
      padding: 1rem;
      &-dropdown {
        padding: 0.1rem 5rem 0.1rem 0.5rem;
        height: 50px;
      }
      &-text {
        height: 50px;
      }
    }
  }

  &__buttons {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
.btn {
  font-family: "Oswald";
  font-size: 1rem;
  letter-spacing: 5px;
  cursor: pointer;
  padding: 10px;
  border: none;
  background: none;
  border-bottom: 1px solid $primary-color;
  margin: 0 1rem;
}

.dropdown {
  display: inline-block;
}
span {
  font-size: 10px;
  letter-spacing: 0.15rem;
}
