@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.projects {
  @include tablet {
    height: 90vh;
    overflow-x: scroll;
    overflow-y: auto;
    white-space: nowrap;
  }

  &-container {
    &__UL {
      @include tablet {
        display: flex;
        justify-content: center;
      }
    }
  }

  &-ul {
    list-style: none;
    flex-wrap: wrap;
    transition: transform 0.5s ease-in-out;
    @include tablet {
      flex-wrap: nowrap;
    }
    &__group {
      position: relative;
    }
    &__save {
      position: absolute;
      top: 0;
      right: 1rem;
    }
  }

  &-item {
    position: relative;
    width: 100%;
    max-height: 270px;
    padding-bottom: 5px;
    @include tablet {
      width: 45vw;
      margin-right: 1rem;
    }

    &__overlay {
      position: absolute;
      transform: translate(0%, -50%);
      top: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #000;
      transition: opacity 0.2s ease, color 0.2s ease;
      opacity: 0.8;
      pointer-events: none;
      @include tablet {
        white-space: initial;
      }
      &:hover {
        opacity: 1;
        color: #fff;
      }
    }

    &__image {
      width: 100%;
      height: 30vh;
      object-fit: cover;
      object-position: center;
      opacity: 0.8;
      transition: opacity 0.2s ease;
      &:hover {
        opacity: 1;
      }
    }
  }
}
