@use "../../styles/partials/variables" as *;

.home {
  &-bg {
    background-image: url(../../assets/images/tiana-borcherding-unsplash.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  &-content {
    position: absolute;
    left: 0;
    padding: 3rem;
    margin-bottom: 5rem;
    bottom: 0;
  }
  &-logo {
    text-transform: lowercase;
    font-size: 6rem;
    &__tagline {
      color: $secondary-color;
      font-family: "Oswald";
    }
  }
}
