.home {
  &-bg {
    background-image: url(../../assets/images/tiana-borcherding-unsplash.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  &-content {
    position: absolute;
    left: 0;
    padding: 5rem;
    margin-bottom: 5rem;
    bottom: 0;
  }
}
